<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% set user = app.session.get('user') %}
        {% if user is not null %}
        <div style="float: right; width: 200px;">
            You are logged in as <blockquote style="color: tomato; font-family: monospace;">{{ user.username }}</blockquote> <a href="{{ path('logout') }}">Log out</a>
        </div>
        {% endif %}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
